certifi==2018.1.18
chardet==3.0.4
cupshelpers==1.0
cycler==0.10.0
future==0.17.1
idna==2.6
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
onboard==1.4.1
pexpect==4.2.1
Pillow==5.1.0
pycairo==1.16.2
pycups==1.9.73
pygobject==3.28.2
pyparsing==2.3.0
pysmbc==1.0.15.6
python-dateutil==2.7.5
reportlab==3.4.0
requests==2.18.4
scipy==1.2.0
scour==0.36
six==1.11.0
urllib3==1.22
